body {
    background: #eaeaea;
}

h4.inline {
    display: inline;
}

ul.ui.menu, article > ul.list > li.item {
    list-style: none;
    padding: 0;
}

ul.list > li.item:before {
    display: none;
}

ul.list {
    margin-left: 2px !important;
}

ul.errorlist > li, ul.errorlist {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

article {
    min-height: 80%;
    padding-top: 2%;
    padding-bottom: 4%;
}

a {
    color: inherit;
    text-decoration: none;
}

table.ui.celled.collapsing.table {
    margin: auto;
}

.ui.header:first-child {
    margin-top: 2em !important;
}

img.ui.image.operator {
    width: 30px;
    height: 30px;
}

.sticky.note {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
}

.masthead.segment {
    min-height: 700px;
    padding: 1em 0;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0;
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

@media only screen and (max-width: 700px) {
    .masthead.segment {
        min-height: 350px;
    }

    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }

    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}