{% load tags %}
<div id="js-round-1">
    <h4 class="ui header">Primeira Rodada</h4>
    <div class="ui pointing secondary menu stackable">
        <a class="item active" data-tab="round_0_add">Adição da chave de Rodada</a>
    </div>
    {% tuple_before_after round_0.add_round_key as list %}
    <div class="ui tab segment active" data-tab="round_0_add">
        <div class="ui top attached tabular menu stackable">
            {% for state in list %}
                <a class="item{% if forloop.first %} active {% endif %}"
                   data-tab="round_0_add/{{ forloop.counter }}">Bloco {{ forloop.counter }}</a>
            {% endfor %}
        </div>
        {% for states in list %}
            <div class="ui bottom attached tab segment{% if forloop.first %} active {% endif %}"
                 data-tab="round_0_add/{{ forloop.counter }}">
                {% include 'appsaes/states/state_add.html' %}
            </div>
        {% endfor %}
    </div>
</div>