{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="ui three column centered grid">
        <div class="column">
            <h2 class="ui header center aligned">
                {% if '/rsa/decrypt/' in request.path %}
                    RSA Descriptografar
                {% elif '/rsa/encrypt/' in request.path %}
                    RSA Criptografar
                {% elif  '/rsa/key/' in request.path %}
                    RSA Gerar Chaves
                {% endif %}
            </h2>
            <div class="ui black segment">
                <form class="ui form" action="" method="post">
                    {% csrf_token %}
                    {% include 'apprsa/includes/fields_errors.html' %}
                    {% include 'apprsa/includes/fields.html' %}
                    <div class="field">
                        <button class="ui black basic button" type="submit">
                            {% if '/rsa/decrypt/' in request.path %}
                                Descriptografar
                            {% elif '/rsa/encrypt/' in request.path %}
                                Criptografar
                            {% elif  '/rsa/key/' in request.path %}
                                Gerar Chaves
                            {% endif %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}