{% load static %}
<aside class="sticky note">
    <h4 class="ui header">Funções do RSA</h4>
    <div class="ui accordion">
        <div class="title">
            <em class="dropdown icon"></em>
            Calcular <code>N</code>
        </div>
        <div class="content">
            <p class="transition">O algoritmo de expansão de chave utiliza como entrada uma
                chave com 2 palavras e como saída gera um vetor linear de 6 palavras</p>
        </div>
        <div class="title">
            <em class="dropdown icon"></em>
            Selecionar <code>E</code>
        </div>
        <div class="content">
            <p class="transition">Adição de chave é um XOR bit a bit entre a matriz estado
                e a chave da rodada</p>
        </div>
        <div class="title">
            <em class="dropdown icon"></em>
            Calcular <code>Tocient</code>
        </div>
        <div class="content">
            <p class="transition">Nesta função cada nibble é substituído por um novo
                nibble através da caixa-S.</p>
        </div>
        <div class="title">
            <em class="dropdown icon"></em>
            Calcular <code>D</code>
        </div>
        <div class="content">
            <p class="transition">No deslocamento de linhas é realizado o deslocamento circular de um
                nibble na segunda linha da matriz estado</p>
        </div>
        <div class="title">
            <em class="dropdown icon"></em>
            Transformar Texto Livre para Inteiro
        </div>
        <div class="content">
            <p class="transition">No deslocamento de linhas é realizado o deslocamento circular de um
                nibble na segunda linha da matriz estado</p>
        </div>
        <div class="title">
            <em class="dropdown icon"></em>
            Criptografar
        </div>
        <div class="content">
            <p class="transition">No deslocamento de linhas é realizado o deslocamento circular de um
                nibble na segunda linha da matriz estado</p>
        </div>
        <div class="title">
            <em class="dropdown icon"></em>
            Descriptografar
        </div>
        <div class="content">
            <p class="transition">No deslocamento de linhas é realizado o deslocamento circular de um
                nibble na segunda linha da matriz estado</p>
        </div>
    </div>
</aside>