{% extends 'base.html' %}
{% load static %}
{% load rsa_tags mathfilters %}
{% block content %}
    <h2 class="ui header inline">Relatório de Chaves</h2>
    <div class="ui stackable grid">
        <div class="eleven wide column">
            <h4 class="ui header inline">Dados</h4>
            <table class="ui celled black table">
                <thead>
                <tr class="center aligned">
                    <th scope="col">Número Primo (<code>P</code>)</th>
                    <th scope="col">Número Primo (<code>Q</code>)</th>
                </tr>
                </thead>
                <tbody>
                <tr class="center aligned">
                    <td>{{ p }}</td>
                    <td>{{ q }}</td>
                </tr>
                </tbody>
            </table>

            <table class="ui celled black table">
                <thead>
                <tr class="center aligned">
                    <th scope="col"><code>N</code></th>
                    <th scope="col"><code>Tociente</code> &#934;</th>
                    <th scope="col"><code>E</code></th>
                </tr>
                </thead>
                <tbody>
                <tr class="center aligned">
                    <td>{{ n }}</td>
                    <td>{{ tocient }}</td>
                    <td>{{ e }}</td>
                </tr>
                </tbody>
            </table>

            <h4 class="ui header inline">Chave Pública</h4>
            <a class="ui mini secondary basic button right floated" href="{% url 'rsa-encrypt' n e %}">Criptografar</a>
            <table class="ui celled black table">
                <thead>
                <tr class="center aligned">
                    <th scope="col"><code>N</code></th>
                    <th scope="col"><code>E</code></th>
                </tr>
                </thead>
                <tbody>
                <tr class="center aligned">
                    <td>{{ n }}</td>
                    <td>{{ e }}</td>
                </tr>
                </tbody>
            </table>

            <h4 class="ui header inline">Chave Privada</h4>
            <a class="ui mini secondary basic button right floated" href="{% url 'rsa-decrypt' n d %}">Descriptografar</a>
            <table class="ui celled black table">
                <thead>
                <tr class="center aligned">
                    <th scope="col"><code>N</code></th>
                    <th scope="col"><code>D</code></th>
                </tr>
                </thead>
                <tbody>
                <tr class="center aligned">
                    <td>{{ n }}</td>
                    <td>{{ d }}</td>
                </tr>
                </tbody>
            </table>

            <h4 class="ui header inline">Calcular <code>N</code></h4>
            <div class="ui black segment">
                <div class="ui five column grid row middle center aligned">
                    <div class="ui row middle aligned">
                        <div class="column">
                            P
                        </div>
                        <div class="column">
                            <img class="ui centered image tiny operator" src='{% static "img/multiply.svg" %}'
                                 alt="operator"/>
                        </div>
                        <div class="column">
                            Q
                        </div>
                        <div class="column">
                            <img class="ui centered image tiny operator" src='{% static "img/equal.svg" %}'
                                 alt="operator"/>
                        </div>
                        <div class="column">
                            N
                        </div>
                    </div>
                    <div class="ui row middle aligned">
                        <div class="column">
                            {{ p }}
                        </div>
                        <div class="column">
                            <img class="ui centered image tiny operator" src='{% static "img/multiply.svg" %}'
                                 alt="operator"/>
                        </div>
                        <div class="column">
                            {{ q }}
                        </div>
                        <div class="column">
                            <img class="ui centered image tiny operator" src='{% static "img/equal.svg" %}'
                                 alt="operator"/>
                        </div>
                        <div class="column">
                            {{ n }}
                        </div>
                    </div>
                    <div class="ui row middle aligned">
                        <div class="column"></div>
                        <div class="column"></div>
                        <div class="column">
                            {{ n }}
                        </div>
                        <div class="column">
                            <img class="ui centered image tiny operator" src='{% static "img/equal.svg" %}'
                                 alt="operator"/>
                        </div>
                        <div class="column">
                            {{ n }}
                        </div>
                    </div>
                </div>
            </div>

            <h4 class="ui header inline">Selecionar <code>E</code></h4>
            <div class="ui black segment">
                <div class="ui seven column grid row middle center aligned">
                    <div class="ui row middle aligned">
                        <div class="column">
                            <code>E</code> <code><strong>mod</strong></code> Fator
                        </div>
                        <div class="column">
                            <img class="ui centered image tiny operator" src='{% static "img/notequal.svg" %}' alt="operator"/>
                        </div>
                        <div class="column">
                            0
                        </div>
                        <div class="column">
                            <strong>&#38;</strong>
                        </div>
                        <div class="column">
                            &#934; <code><strong>mod</strong></code> Fator
                        </div>
                        <div class="column">
                            <img class="ui centered image tiny operator" src='{% static "img/notequal.svg" %}' alt="operator"/>
                        </div>
                        <div class="column">
                            0
                        </div>
                    </div>

                    {% generate_range e tocient as teste_e_list %}

                    {% for element in teste_e_list %}
                        <div class="ui row middle aligned">
                            <div class="column">
                                <code>{{ e }}</code> <code><strong>mod</strong></code> {{ element }}
                            </div>
                            <div class="column">
                                <img class="ui centered image tiny operator" src='{% static "img/equal.svg" %}' alt="operator"/>
                            </div>
                            <div class="column">
                                {{ e|mod:element }}
                            </div>
                            <div class="column">
                                <strong>&#38;</strong>
                            </div>
                            <div class="column">
                                {{ tocient }} <code><strong>mod</strong></code> {{ element }}
                            </div>
                            <div class="column">
                                <img class="ui centered image tiny operator" src='{% static "img/equal.svg" %}' alt="operator"/>
                            </div>
                            <div class="column">
                                {{ tocient|mod:element }}
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

            <h4 class="ui header inline">Calcular <code>Tociente</code> &#934;</h4>
            <div class="ui black segment">
                <div class="ui five column grid row middle center aligned">
                    <div class="ui row middle aligned">
                        <div class="column">
                            (<code>P</code> - 1)
                        </div>
                        <div class="column">
                            <img class="ui centered image tiny operator" src='{% static "img/multiply.svg" %}' alt="operator"/>
                        </div>
                        <div class="column">
                            (<code>Q</code> - 1)
                        </div>
                        <div class="column">
                            <img class="ui centered image tiny operator" src='{% static "img/equal.svg" %}' alt="operator"/>
                        </div>
                        <div class="column">
                            {{ tocient }}
                        </div>
                    </div>
                    <div class="ui row middle aligned">
                        <div class="column">
                            ({{ p }}- 1)
                        </div>
                        <div class="column">
                            <img class="ui centered image tiny operator" src='{% static "img/multiply.svg" %}' alt="operator"/>
                        </div>
                        <div class="column">
                            ({{ q }} - 1)
                        </div>
                        <div class="column">
                            <img class="ui centered image tiny operator" src='{% static "img/equal.svg" %}' alt="operator"/>
                        </div>
                        <div class="column">
                            {{ tocient }}
                        </div>
                    </div>
                    <div class="ui row middle aligned">
                        <div class="column">
                            {{ p|add:"-1" }}
                        </div>
                        <div class="column">
                            <img class="ui centered image tiny operator" src='{% static "img/multiply.svg" %}' alt="operator"/>
                        </div>
                        <div class="column">
                            {{ q|add:"-1" }}
                        </div>
                        <div class="column">
                            <img class="ui centered image tiny operator" src='{% static "img/equal.svg" %}' alt="operator"/>
                        </div>
                        <div class="column">
                            {{ tocient }}
                        </div>
                    </div>
                    <div class="ui row middle aligned">
                        <div class="column"></div>
                        <div class="column"></div>
                        <div class="column">
                            {{ tocient }}
                        </div>
                        <div class="column">
                            <img class="ui centered image tiny operator" src='{% static "img/equal.svg" %}' alt="operator"/>
                        </div>
                        <div class="column">
                            {{ tocient }}
                        </div>
                    </div>
                </div>
            </div>

            <h4 class="ui header inline">Calcular <code>D</code></h4>
            <div class="ui black segment">
                <div class="ui seven column grid row middle center aligned">
                    <div class="ui row middle aligned">
                        <div class="column">
                            <code>E</code>
                        </div>
                        <div class="column">
                            <img class="ui centered image tiny operator" src='{% static "img/multiply.svg" %}' alt="operator"/>
                        </div>
                        <div class="column">
                            <code>D</code>
                        </div>
                        <div class="column">
                            <code><strong>mod</strong></code>
                        </div>
                        <div class="column">
                            &#934;
                        </div>
                        <div class="column">
                            <img class="ui centered image tiny operator" src='{% static "img/identical.svg" %}' alt="operator"/>
                        </div>
                        <div class="column">
                            <code>1</code>
                        </div>
                    </div>
                    <div class="ui row middle aligned">
                        <div class="column">
                            <code>{{ e }}</code>
                        </div>
                        <div class="column">
                            <img class="ui centered image tiny operator" src='{% static "img/multiply.svg" %}' alt="operator"/>
                        </div>
                        <div class="column">
                            <code>{{ d }}</code>
                        </div>
                        <div class="column">
                            <code><strong>mod</strong></code>
                        </div>
                        <div class="column">
                            {{ tocient }}
                        </div>
                        <div class="column">
                            <img class="ui centered image tiny operator" src='{% static "img/identical.svg" %}' alt="operator"/>
                        </div>
                        <div class="column">
                            <code>1</code>
                        </div>
                    </div>
                    <div class="ui row middle aligned">
                        <div class="column"></div>
                        <div class="column"></div>
                        <div class="column">
                            <code>{{ e|mul:d }}</code>
                        </div>
                        <div class="column">
                            <code><strong>mod</strong></code>
                        </div>
                        <div class="column">
                            {{ tocient }}
                        </div>
                        <div class="column">
                            <img class="ui centered image tiny operator" src='{% static "img/identical.svg" %}' alt="operator"/>
                        </div>
                        <div class="column">
                            <code>1</code>
                        </div>
                    </div>
                    <div class="ui row middle aligned">
                        <div class="column"></div>
                        <div class="column"></div>
                        <div class="column"></div>
                        <div class="column"></div>
                        <div class="column">
                            {{ e|mul:d|mod:tocient }}
                        </div>
                        <div class="column">
                            <img class="ui centered image tiny operator" src='{% static "img/identical.svg" %}' alt="operator"/>
                        </div>
                        <div class="column">
                            <code>1</code>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="five wide column">
            {% include 'apprsa/functions.html' %}
        </div>
    </div>
{% endblock %}