<!DOCTYPE html>
<html lang="">
{% load static %}
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Cipher Web</title>
    <link rel="stylesheet" type="text/css" href='{% static "semantic/semantic.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/estilo.css" %}'>
</head>
<header>
    <div class="ui inverted vertical segment">
        <div class="ui inverted secondary pointing menu stackable">
            <a class="active item" href="{% url 'home' %}">Cipher Web</a>
            <div class="ui dropdown item">
                S-AES <em class="dropdown icon"></em>
                <div class="menu">
                    <a class="item" href="{% url 'encrypt' %}">Criptografar</a>
                    <a class="item" href="{% url 'decrypt' %}">Descriptografar</a>
                </div>
            </div>
            <div class="ui dropdown item">
                RSA <em class="dropdown icon"></em>
                <div class="menu">
                    <a class="item" href="{% url 'rsa-key' %}">Chave</a>
                    <a class="item" href="{% url 'rsa-encrypt' %}">Criptografar</a>
                    <a class="item" href="{% url 'rsa-decrypt' %}">Descriptografar</a>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
<article class="ui container">
    {% block content %}
    {% endblock %}
</article>

<footer class="ui black inverted vertical footer relaxed segment">
    <div class="ui five column middle aligned centered inverted stackable grid">
        <div class="three wide column center aligned">
            <div class="ui divided celled relaxed inverted list">
                <div class="item">
                    <a rel="noopener noreferrer" href="https://github.com/lopeslarissa" target="_blank">
                        <i class="github icon"></i>lopeslarissa
                    </a>
                </div>
                <div class="item">
                    <a rel="noopener noreferrer" href="https://github.com/imarinheiro" target="_blank">
                        <i class="github icon"></i>imarinheiro
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src='{% static "js/jquery.min.js" %}'></script>
<script src='{% static "semantic/semantic.js" %}'></script>
<script src='{% static "js/main.js" %}'></script>
</body>
</html>
