{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="ui center aligned container">

        <div class="ui center aligned icon huge header">
            <i class="grey unlock alternate icon"></i>
            Cipher Web
            <span class="sub header">Ferramenta para ensino diático de criptografia simétrica e assimétrica</span>
        </div>
        <a class="ui center aligned black label"
           href="https://github.com/imarinheiro/cipherweb">
            versão 2.0
        </a>
    </div>

{% endblock %}